/* Add CSS here */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: orangered;
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60');
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.image-container {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotate(0deg);
    transition: .7s;
}

.image-container span {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    width: 100%;
}

.image-container span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-container {
    position: relative;
    width: 80%;
}

.btn {
    position: absolute;
    bottom: -80px;
    color: white;
    background-color: orangered;
    bottom: none;
    border-radius: 0.3em;
    padding: 10px 20px;
    cursor: pointer;
    transition: .7s;
}

.btn:hover {
    filter: brightness(1.5);
    transform: scale(0.76);
}

#prev {
    left: 20%;
}

#next {
    right: 20%;
}